################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/txt2shengyin/.vs/txt2shengyin/v16
/txt2shengyin/bin
/txt2shengyin/obj
/txt2shengyin/ZmConfig.cs
/txt2shengyin/wwwroot/upload
