.am-header .am-header-title {
    font-size: 16px;
}
.file-drop-zone .file-preview-thumbnails{
    height:100%
}
.krajee-default.file-preview-frame {
    height: 100%
}
.file-error-message pre{
    display:none !important;
}
.file-error-message {
    position: relative;
    top: -50vw;
}
.loading {
    text-align: center;
    color: #666;
    font-size: 3vw;
    padding: 1vh 2vw;
}
.am-progress {
    width: 100vw;
    height: 3vh;
}
/*聊天室部分*/
.zm_container-fluid {
    padding: 0px;
}
.zm_footer_tab {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    border-top: 1px solid #bbb;
}
.xiaoxiarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.xiaoxi_head_shijian {
    text-align: center;
}

    .xiaoxi_head_shijian span {
        text-align: center;
        padding: 2px 4px;
        background-color: #ccc;
        font-size: 12px;
        font-weight: 800;
        color: #fff;
        display: inline-block;
        border-radius: 5px;
        height: 16px;
        line-height: 12px;
    }

.xiaoxi_body {
    display: flex;
}

.xiaoxi_body_l {
    width: 80vw;
}

.xiaoxi_body_nicheng {
    text-align: right;
}

    .xiaoxi_body_nicheng span {
        text-align: center;
        padding: 6px;
        background-color: #eee;
        font-size: 14px;
        font-weight: 800;
        color: #666;
        display: inline-block;
        height: 26px;
        line-height: 14px;
    }

.xiaoxi_body_r {
    width: 12vw;
}

    .xiaoxi_body_r img {
        width: 12vw;
        height: 12vw;
    }

.xiaoxi_one_head {
    background-color: rgb(86, 127, 227);
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    font-size: 4vw;
}

    .xiaoxi_one_head div {
        padding: 5px;
        color: #000;
    }

    .xiaoxi_one_head .wanfa {
        width: 40vw;
        overflow: hidden;
    }
    .xiaoxi_one_head .fangjiahao {
        width: 40vw;
        overflow: hidden;
    }
    .xiaoxi_one_head .shijian {
        width: 80vw;
        overflow: hidden;
    }

.liebiao_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

    .liebiao_one img {
        height: 40px;
        width: 40px;
    }

.xiaoxi_body_l .liebiao_one > div {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 4vw;
}

.liebiao_one .chenghao {
    width: 16vw;
}

.liebiao_one .touxiang {
    width: 10vw;
}

.liebiao_one .fenshu {
    width: 32vw;
}

.liebiao_one .uinfo {
    width: 20vw;
    line-height: 14px !important;
    font-size: 12px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.liebiao_one .defen {
    color: blue;
    font-weight: 900;
}

.xiahuatishi {
    text-align: center;
    margin-top: 20vh;
    color: #aaa;
}

.yulanarae {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: rgba(33,33,33,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .yulanarae .bigimgarea {
        height: 100vh;
        overflow-y: scroll;
        padding-top: 14vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .yulanarae .bigimgarea img {
            min-width: 40vw;
            max-width: 90vw;
            min-height: 20vh;
            max-height: 70vh;
            margin: 2vh 5vw;
            position: relative;
            top: -6vh;
        }
    .yulanarae .suoluetu {
        min-width: 100vw;
        background-color: rgba(33,33,33,0.7);
        display: flex;
        height: 14vh;
        position: fixed;
        top: 0px;
    }
        .yulanarae .suoluetu img {
            height: 10vh;
            width: 10vh;
            min-width: 10vh;
            min-height: 10vh;
            margin: 1vh 2vw;
        }

    .file-input {
        background-color: #fff;
    }

.file-preview {
    width: 80vw;
    height: 50vh;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    display: none;
}

.zm-upbtn {
    margin-left: 5vw;
    margin-right: 10vw;
}

    .zm-upbtn .hidden-xs {
        display: inline-block !important;
    }

.file-error-message {
    display: none;
}

.zm_closebtn {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 10vh;
    width: 10vh;
    content: "x";
    background-color: rgba(200,200,200,0.6);
    border-radius: 0 0 0 10vh;
    text-align: right;
    vertical-align: middle;
    color: #ccc;
    font-size: 10vh;
    line-height: 5vh;
    padding-right: 1vh;
}

.shangchuanarea {
    position: fixed;
    bottom: 2vh;
    height: 24vh;
}
    .shangchuanarea .cmdarea {
        display: flex;
        flex-direction: column;
        margin-right: 5vw;
        align-items: center;
    }

        .shangchuanarea .cmdarea img {
            height: 10vh;
            width: 10vh;
            margin-top: 2vh;
        }