.shengyintexiao {
    display: flex;
    width: 50vw;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}
    .shengyintexiao .texiaoitem {
        background-color: #ccc;
        width: 2vw;
        animation: shengyintexiao 0.7s linear infinite alternate;
        animation-fill-mode:both;
    }

@keyframes shengyintexiao {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}